*.safetensors filter=lfs diff=lfs merge=lfs -text
livrable_ia_data/medical_dataset/*.json filter=lfs diff=lfs merge=lfs -text
livrable_ia_data/medical_dataset/*.jsonl filter=lfs diff=lfs merge=lfs -text
